<hr>
<h4>Second Assignment</h4>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
      <label for="username" class="">Username: </label>
      <input type="text" name="username" id="username" 
      [(ngModel)]="username">
      <p>{{ getUsername() }}</p>
      <button class="btn btn-primary"
      (click)="onResetUser()"
      [disabled]="username == ''">
        Reset User
      </button>
  </div>
</div>
<hr>
<h4>Third Assignment</h4>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <button class="btn btn-primary" (click)="togglePasswordButton()">Display Details</button>
    <p *ngIf="isVisible">Secret Password</p>
    <div id="pesho{{ logItem }}" 
      *ngFor="let logItem of log; let i = index"
      [ngStyle]="{'backgroundColor': i >= 4 ? 'red' : 'transparent'}"
      [ngClass]="{'white-color': i >= 4}">{{ logItem }}
    </div>
  </div>
</div>